body{
    background-size: 100%;
    background-repeat: no-repeat;
    }
    .section1{
        width: 100%;
        height: 50%;
         filter: grayscale(100%);
         display: inline-block;
         margin-top: 0px;
         
    }
    div{
        display: inline-block;
        padding: 20px;
        height: 50%;
    }
   
    
    .text1 {
        text-align: center;
        width: 30%;
        height: 70%;
        margin-left: 650px;
        font-size: 20px;
        
    }
      .section2{
          margin-top: 100px;
          margin-bottom: 0px;
       width: 100%;
        height: 500px;
         filter: grayscale(100%);
        
         background-color: rgba(0,0,0,0.3);
    }
    .image1{
   
   margin-top: 0px;
    width: 10px;
    
    height:30px;
    float: left;
 
    }
 
    .image2{
       
    width: 20%;
    height: 60%;
    float: right;
    }

.contact ul li{
    font-family: 
 'montserrat', sans-serif;
    
    font-size: 30px;
    color:black;
    
    
}

.links ul li{
    font-family: 
 'montserrat', sans-serif;
    
    font-size: 30px;
    color:  black;
}
.contact h4{
    font-size: 30px;
}
.links h4{
   
    font-size: 30px;
    }


